/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Nov, 2016, 1:58:20 PM
    Author     : Shailesh Sonare 
*/


table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse:
        collapse; border-spacing: 0;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s; /* Simple transition for hover effect */
}

th {
/*    background: #DFDFDF;  Darken header a bit */
    background: #99ccff;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
tr:nth-child(odd) td { background: #FEFEFE; } 

#result table {
    width: 100%;
    margin: 0 auto;
}

/* Menu Bar [Starts] */
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
/*    background-color: #333;*/
    background-color: #303E9F;
    background: -webkit-linear-gradient(#993Eff, #303E9F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#993Eff, #303E9F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#993Eff, #303E9F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#993Eff, #303E9F); /* Standard syntax (must be last) */
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #993Eff;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
/* Menu Bar [Ends] */

.button {
    cursor: pointer;
}

#header {
    overflow: hidden;
    margin: 5px;
}

#website-logo {
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 10px;
}